@model HamburgerAppV1.Entities.Menu

@{
    ViewData["Title"] = "Details";
}


<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResimYolu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResimYolu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
